.categories h2 {
    font-family: 'Fira Sans', sans-serif;
    color: #111238;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 50px;
    margin: 0;
}

.categories_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

.categories_item h5 {
    margin: 0;
    padding-top: 15px;
    color: #111238;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.categories_item {
    padding-top: 30px;
    text-align: center;
}