.find_title {
    text-align: center;
    color:#111238;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.find {
    background: #F2F3F6;
    padding: 15px 15px 35px;
}

.find_descr {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color:#111238;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.search_button {
    display: flex;
    background: #1A75E8;
    border-radius: 5px;
    border: none;
    padding: 15px 30px;

    color: #FFF;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search_button span {
    display: none;
}

/*.search_txt {*/
/*    border: solid;*/
/*    border-radius: 5px;*/
/*    width: 270px;*/
/*    height: 70px;*/
/*    color: #B2B2B2;*/
/*    font-family: 'Fira Sans', sans-serif;*/
/*    font-size: 16px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: normal;*/
/*    padding-left: 25px;*/
/*}*/
.search_button i {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    margin: 0 auto;
}

.search_box {
    border-radius: 5px;
    border: 1px solid rgba(209, 209, 209, 0.10);
    background: var(--inputs-light, #FFF);
    box-shadow: 0 4px 25px 0 rgba(15, 17, 56, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 11px 25px;
}

.search_input {
    color: var(--inputs-grey, #B2B2B2);
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    padding: 0;
}

.find_example h4 {
    text-align: center;
    color: #B2B2B2;
    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.exemple_item {
    padding: 5px 10px;
}

.find_descr-desctop {
    display: none;
}