.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #F2F3F6;
    position: relative;
}

.header_item a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #111238;
}

.header_list {
    margin: 0 auto;
    padding: 0;
    width: 234px;
}

.header_left-logo svg {
    padding-top: 10p;
}

.hamburger {
    display: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    height: 16px;
    transition: 0.5s;
}

.hamburger span {
    display: block;
    width: 24px;
    margin-bottom: 5px;
    border: 2px solid #111238;
    border-radius: 10px;
    transition: 0.5s linear;
}

.hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
}

.hamburger_active span:nth-child(2) {
    display: none;
}

.hamburger_active span:nth-child(3) {
    transform: translateY(-3px) rotate(45deg);
}

.sign-in {
    color: #111238;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 36px;
}

.header_button {
    display: flex;
    border-radius: 5px;
    background: var(--buttons-primary, #1A75E8);
    width: 148px;
    height: 49px;
}

.header_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

