@media screen and (max-width: 368px) {
    
}

@media screen and (max-width: 568px) {
    .hamburger {
        display: block;
    }

    .header_menu {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        z-index: 20;
        top: 0;
        left: -100%;
        transition: 0.5s;
    }

    .header_menu-active {
        left: 0;
    }

    .header_right {
        display: none;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 900px) {
}