@import url(./header.css);
@import url(./media.css);
@import url(./find.css);
@import url(./exemple.css);
@import url(./categories.css);

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #F2F3F6;
}