.vacancies h2 {
    color: #111238;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 110px;
}

.vacancies_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #C5C9D4;
    border-radius: 10px;
    width: 290px;
    height: auto;
    flex-direction: column;
    gap: 30px;
}

.horizontal_card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 40px;
}

.vacancies_item-text h4 {
    color: #111238;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.vacancies_item-text h5 {
    margin: 0;
    padding-top: 10px;
    color: #111238;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.vacancies_button {
    background: #1A75E8;
    border-radius: 5px;
    display: flex;
    width: 113px;
    height: 39px;
    border: none;
}

.vacancies_btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.requirements {
    display: flex;
}

.vacancies_list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.vacancies_item {
    padding: 30px;
}

.vacancies_image {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 100%;
}

.vacancies_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.requirements_list {
    display: flex;
    margin: 0;
    padding: 10px 0 0 0;
}

.requirements_item {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
}

.vacancies_item-categories h4 {
    text-align: center;
    margin: 0;
    color: #B2B2B2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Fira Sans', sans-serif;
}

.requirements_item h4 {
    color: #B2B2B2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Fira Sans', sans-serif;
}

.vacancies_item a {
    color: #1A75E8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Fira Sans', sans-serif;
}

.vacancies_button-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vacancies_button-more button {
    border-radius: 5px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    height: 49px;
    background: #1A75E8;
    border: none;

    color: #FFFFFF;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}